/* font-style start */
/* font-family: 'Playfair Display', serif; */
/* font-family: 'Inconsolata', monospace;
font-family: 'Playfair Display', serif; */
body{
	margin: 0;
	padding: 0;
}
/* header start */
header{
	margin: 8px 0;
	overflow: hidden;
    /*border: 1px solid black;*/
}
.wrapper {
	margin: 0 auto;
	width: 90%;
	/*border: 1px solid red;*/
}

.logo {
	margin-top: 20px;
	width: 13%;
	float:left;
	/*border: 1px solid red;*/
}
.logo img{
	width: 100%;
}
.menu{
   width: 70%;
   float: right;
   /*border: 1px solid red;*/
}
.menu ul{
   float: right;
}
.menu ul li{
   margin-top: 16px;
   float: left;	
   list-style: none;
   /*border: 1px solid red;*/
}
.menu ul li a{	
   margin: 0 70px;
   text-decoration: none; 

   font-family: 'Playfair Display'regular;
   font-size: 400;
   font-weight: 16px;
   color: #696b6e; 
   transition: .3s;
   cursor: pointer;
}
.menu ul li a:hover{
   border-bottom: 1px solid #696b6e;
}
.menu ul li:last-child a{
	margin-right: 0;
}

/* header end */
/*banner start*/
.banner{
}
.b_img{
	width: 100%;
}
/*banner start*/
